<div class="fourmi_detail">
  <div class="row">
    <div class="col-md-8">
      <ul>
        <li><p><b>Username : </b>{{fourmi.username}}</p></li>
        <li><p><b>Age : </b>{{fourmi.age}}</p></li>
        <li><p><b>Race : </b>{{fourmi.race}}</p></li>
        <li><b>Family</b>

          <ul>
            <li ng-repeat="ant in fourmi.famille">{{ant.username}}</li>
          </ul>
        </li>

      </ul>
      <a class="btn btn-secondary" ng-href="#/fourmis">return to list</a>
      <a class="btn btn-secondary" ng-click="add()" style="{{style1}}">add friend</a>
      <a class="btn btn-secondary" ng-click="remove()" style="{{style2}}">remove friend</a>
    </div>
  </div>
</div>
